.myrows{
  border: 3px solid green;
  padding: 5px;
}
.mycols{
  border: 3px solid red;
}
.mycontainer{
  background-color: aqua;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
nav ul li a {
 font-size: 1.1rem;
 font-weight: 600;
}
.nav-link{
  color: ghostwhite;
}
.full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer h3{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}
a{
  text-decoration: none;
}
